/** style.scss
------------------------------------------
        Style sheet for CV
------------------------------------------
*/

@import "base/color";
// @import "base/font";
// @import "base/size";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "calendar/calendar";
@import "legend/legend";

a {
	color: #00B7FF;
}
  
*, *:before, *:after {
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	justify-content: center;

	height: 100vh;

	overflow: hidden;
	font-family: 'Lucida Grande', 'Segoe UI', Arial, Helvetica, sans-serif;
	font-weight: 100;
	color: $col_base-font;
	margin: 0;
	padding: 0;
	background: #000000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	.gan.jin, .zhi.jin {
		color: rgb(204, 204, 1);
	}
	.gan.mu, .zhi.mu {
		color: rgb(22, 175, 22);
	}
	.gan.huo, .zhi.huo {
		color: red;
	}
	.gan.shui, .zhi.shui {
		color: rgb(24, 145, 243);
	}
	.gan.tu, .zhi.tu {
		color: rgb(146, 39, 39);
	}
}
