@import "../base/color";

#calendar {
	width: 440px;
	min-height: 590px;

	margin: 0 auto;
    margin-top: 20px;
    padding: 10px;

	overflow: hidden;

	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
    
    .header {
        position:relative;
        height: 110px;
        width: 100%;
        z-index: 100;

        text-align: center;

        h1 {
            margin: 0;
            padding: 0;

            font-family: 'Segoe UI Black';
            font-size: 20px;
            line-height: 50px;
            font-weight: 100;
            letter-spacing: 1px;
        }

        h2 {
            margin: 0;
            padding: 0;
            text-transform: uppercase;
            font-family: 'Segoe UI SemiBold';
            font-size: 16px;
            line-height: 40px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        .header_year, .header_month {
            position: relative;
            margin-top: 2px;
            margin-bottom: 10px;
            color: $col_grey3;

            background: $col_bg_base;
            .current {
                color: white;
            }
        }
        .left, .right {
            position: absolute;
            width: 0px;
            height: 0px;
            top: 50%;

            border-style: solid;
            margin-top: -7.5px;
            cursor: pointer;
        }
        .left {
            left: 20px;
            border-width: 7.5px 10px 7.5px 0;
            border-color: transparent rgba(160, 159, 160, 1) transparent transparent;
        }
        .right {
            right: 20px;
            border-width: 7.5px 0 7.5px 10px;
            border-color: transparent transparent transparent rgba(160, 159, 160, 1);
        }
    
    }

    .mon_list {
        /*overflow: hidden;*/
        opacity: 0;
        background: $col_bg_base;

        .week_title {
            font-weight: bold;
            position: relative;
            width: 60px;
            height: 50px;
            padding: 10px;
            display: inline-block;
            z-index: 100;

            text-align: center;
            vertical-align: top;

            font-size: 12px;
            line-height: 30px;
            text-transform: uppercase;
            letter-spacing: .7px;
        }

        .week {
            
            .day {
                display: inline-block;
                width: 60px;
                padding: 10px;
                
                text-align: center;
                vertical-align: top;
                cursor: pointer;
                position: relative;

                // &.other_month {
                //     color: rgba(255, 255, 255, .3);
                // }        
                &.chosen_month {
                    background-color: $col_bg_chosenmonth;
                    
                    &.before_today {
                        color: $col_grey6;
                    }        
                    &.after_today {
                        color: $col_grey2;
                    }        
                }
                &.today {
                    color: $col_grey1;
                    background-color: black;
                    font-weight: bold;
                } 
                &.before_today {
                    color: $col_grey8;
                }        
                &.after_today {
                    color: $col_grey4;
                }
                .day-events {
                    list-style: none;
                    margin-top: 3px;
                    text-align: center;
                    height: 12px;
                    line-height: 6px;
                    overflow: hidden;
                    
                    span {
                        vertical-align: top;
                        display: inline-block;
                        padding: 0;
                        margin: 0;
                        width: 5px;
                        height: 5px;
                        line-height: 5px;
                        margin: 0 1px;
                    }
                }
                .day-number {
                    font-size: 24px;
                    letter-spacing: 1.5px;
                }
            }
        
            .details {
                position: relative;
                width: 100%;
                min-height: 75px;
                background: $col_bg_detail;
                z-index: 100;
                &.in {
                    -webkit-animation: moveFromTopFade .5s ease both;
                    -moz-animation: moveFromTopFade .5s ease both;
                    animation: moveFromTopFade .5s ease both;
                }
                &.out {
                    -webkit-animation: moveToTopFade .5s ease both;
                    -moz-animation: moveToTopFade .5s ease both;
                    animation: moveToTopFade .5s ease both;
                    .events {
                        -webkit-animation: fadeOutShrink .4s ease both;
                        -moz-animation: fadeOutShink .4s ease both;
                        animation: fadeOutShink .4s ease both;
                    }
                }
            }
            .arrow {
                position: absolute;
                top: -5px;
                left: 50%;
                margin-left: -2px;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 5px 5px 5px;
                border-color: transparent transparent $col_grey3 transparent;
                transition: all 0.7s ease;
            }

        }
    
        &.new {
            -webkit-animation: fadeIn 1s ease-out;
            opacity: 1;
        }
        &.in.next {
            -webkit-animation: fadeIn .4s ease-out;
            -moz-animation: fadeIn .4s ease-out;
            animation: fadeIn .4s ease-out;
            opacity: 1;
        }
        &.out.next {
            -webkit-animation: moveToBottomFadeMonth .4s ease-out;
            -moz-animation: moveToBottomFadeMonth .4s ease-out;
            animation: moveToBottomFadeMonth .4s ease-out;
            opacity: 1;
        }
        &.in.prev {
            -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
            -moz-animation: moveFromBottomFadeMonth .4s ease-out;
            animation: moveFromBottomFadeMonth .4s ease-out;
            opacity: 1;
        }
        &.out.prev {
            -webkit-animation: fadeOut .4s ease-in;
            -moz-animation: fadeOut .4s ease-in;
            animation: fadeOut .4s ease-in;
            opacity: 1;
        }
    }

    .blue { background: rgba(156, 202, 235, 1); }
    .orange { background: rgba(247, 167, 0, 1); }
    .green { background: rgba(153, 198, 109, 1); }
    .yellow { background: rgba(249, 233, 0, 1); }

    .events {
        height: 75px;
        padding: 7px 0;
        overflow-y: auto;
        overflow-x: hidden;

        &.in {
            -webkit-animation: fadeIn .3s ease both;
            -moz-animation: fadeIn .3s ease both;
            animation: fadeIn .3s ease both;
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            animation-delay: .3s;
        }
        &.out {
            -webkit-animation: fadeOut .3s ease both;
            -moz-animation: fadeOut .3s ease both;
            animation: fadeOut .3s ease both;
        }
    }

    .event {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .5px;
        padding: 2px 16px;
        vertical-align: top;
        &.empty {
            color: #eee;
        }
        span {
            display: inline-block;
            padding: 0 0 0 7px;
        }
    
    }

    .event-category {
        height: 10px;
        width: 10px;
        display: inline-block;
        margin: 6px 0 0;
        vertical-align: top;
    }

    .legend {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: rgba(60, 60, 60, 1);
        line-height: 30px;

    }

    .entry {
        position: relative;
        padding: 0 0 0 25px;
        font-size: 13px;
        display: inline-block;
        line-height: 30px;
        background: transparent;
        &:after {
            position: absolute;
            content: '';
            height: 5px;
            width: 5px;
            top: 12px;
            left: 14px;
        }
        &.blue:after { background: rgba(156, 202, 235, 1); }
        &.orange:after { background: rgba(247, 167, 0, 1); }
        &.green:after { background: rgba(153, 198, 109, 1); }
        &.yellow:after { background: rgba(249, 233, 0, 1); }
    
    }

    /* Animations are cool!  */
    @-webkit-keyframes moveFromTopFade {
        from { opacity: .3; min-height:0px; margin-top:0px; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveFromTopFade {
        from { min-height:0px; margin-top:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveFromTopFade {
        from { min-height:0px; margin-top:0px; transform: translateY(-100%); }
    }

    @-webkit-keyframes moveToTopFade {
        to { opacity: .3; min-height:0px; margin-top:0px; opacity: 0.3; -webkit-transform: translateY(-100%); }
    }
    @-moz-keyframes moveToTopFade {
        to { min-height:0px; -moz-transform: translateY(-100%); }
    }
    @keyframes moveToTopFade {
        to { min-height:0px; transform: translateY(-100%); }
    }

    @-webkit-keyframes moveToTopFadeMonth {
        to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveToTopFadeMonth {
        to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    @keyframes moveToTopFadeMonth {
        to { opacity: 0; transform: translateY(-30%); }
    }

    @-webkit-keyframes moveFromTopFadeMonth {
        from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromTopFadeMonth {
        from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromTopFadeMonth {
        from { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes moveToBottomFadeMonth {
        to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveToBottomFadeMonth {
        to { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveToBottomFadeMonth {
        to { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes moveFromBottomFadeMonth {
        from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromBottomFadeMonth {
        from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromBottomFadeMonth {
        from { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes fadeIn  {
        from { opacity: 0; }
    }
    @-moz-keyframes fadeIn  {
        from { opacity: 0; }
    }
    @keyframes fadeIn  {
        from { opacity: 0; }
    }

    @-webkit-keyframes fadeOut  {
        to { opacity: 0; }
    }
    @-moz-keyframes fadeOut  {
        to { opacity: 0; }
    }
    @keyframes fadeOut  {
        to { opacity: 0; }
    }

    @-webkit-keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0px; }
    }
    @-moz-keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0px; }
    }
    @keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0px; }
    }
}
