@import "../base/color";

#calendar {
    width: 430px;
    min-height: auto;
	overflow: hidden;
	background: $col_bg_base;

    .header {
        margin: 5px;
        margin-bottom: 0;

        position:relative;
        z-index: 100;

        text-align: center;

        .year {
            height: 55px;
            line-height: 55px;

            font-family: 'Segoe UI Black';
            font-size: 20px;
            font-weight: 100;
            letter-spacing: 1px;
            
        }
        .month {
            height: 45px;
            line-height: 45px;

            text-transform: uppercase;
            font-family: 'Segoe UI SemiBold';
            font-size: 16px;
            font-weight: 100;
            letter-spacing: 1px;
        }
        .header-year, .header-month { 
            background: $col_bg_base1;
            margin-bottom: 5px;
            position: relative;

            color: $col_grey3;
            .current {
                color: white;
            }
        }
        .left, .right {
            position: absolute;
            width: 0px;
            height: 0px;
            top: 50%;

            border-style: solid;
            margin-top: -7.5px;
            cursor: pointer;
            
        }
        .left {
            left: 20px;
            border-width: 7.5px 10px 7.5px 0;
            border-color: transparent $col_grey1 transparent transparent;
            &:hover{
                border-color: transparent $col_grey5 transparent transparent;
            }
        }
        .right {
            right: 20px;
            border-width: 7.5px 0 7.5px 10px;
            border-color: transparent transparent transparent $col_grey1;
            &:hover{
                border-color: transparent transparent transparent $col_grey5;
            }
        }
        
        .week-titles {
            display: grid;
            align-items: center;
            justify-content: center;
            height: 40px;
            grid-template-columns: repeat(7, 60px);
        }
        .week-title {
            height: 100%;
            line-height: 40px;
            
            z-index: 100;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: .7px;
            border: 1px solid $col_bg_base;
            &.week-end {
                color: rgb(225, 90, 90);
            }
        }
    }

    .mon-list {
        /*overflow: hidden;*/
        opacity: 0;
        background: $col_bg_base;
        margin: 5px;
        margin-top: 0;
        // z-index: 50;

        .week {
            display: grid;
            align-items: center;
            min-height: 90px;
            height: auto;
            grid-template-columns: repeat(7, 60px);
            
            .day {
                // z-index: 75;
                height: 100%;
                position: relative;
                min-height: inherit;
                border: 1px solid $col_bg_base;
                padding: 5px;
                cursor: pointer;

                flex-direction: column;
                justify-content: space-around;
                align-content: space-around;
                text-align: center;

                &.before-today {
                    background-color: $col_bg_othermonth;
                    color: $col_font_othermonth_before;
                    &.week-end {
                        color: $col_font_othermonth_weekend;
                        background-color: $col_bg_othermonth_weekend;
                    }
                }        
                &.after-today {
                    background-color: $col_bg_othermonth;
                    color: $col_font_othermonth_after;
                    &.week-end {
                        color: $col_font_othermonth_weekend;
                        background-color: $col_bg_othermonth_weekend;
                    }
                }
                &.active-month {
                    background-color: $col_bg_chosenmonth;
                    
                    &.before-today {
                        color: $col_font_chosenmonth_before;
                    }        
                    &.after-today {
                        color: $col_font_chosenmonth_after;
                    }        
                    &.week-end {
                        color: $col_font_chosenmonth_weekend;
                        background-color: $col_bg_chosenmonth_weekend;
                    }
                }
                &.today {
                    color: $col_font_today;
                    background-color: $col_bg_today;
                    font-weight: bold;
                }

                .day-number {
                    font-size: 24px;
                    letter-spacing: 1.5px;
                    margin-bottom: 5px;
                }

                .day-ch {
                    height: auto;
                    overflow: hidden;
                    font-size: 12px;
                    color: rgba(190, 180, 170, 0.7);
                    margin-bottom: 2px;
                    &.jieqi {
                        color: rgba(230, 150, 70, 0.8);
                    }
                    &.lunar-first {
                        color: rgba(220, 170, 130, 0.7);
                    }
                }
                .day-festival {
                    height: auto;
                    overflow: hidden;
                    font-size: 14px;
                    color: rgba(255, 80, 80, 0.8);
                }

                &:hover {
                    background-color: $col_day_hover;
                    &.week-end {
                        background-color: $col_day_hover_weekend;
                    }
                }

                &.detailed {
                    border-color: rgb(230, 150, 70);
                }
            }
            
            .detail {
                position: relative;
                grid-column: span 7;
                // z-index: 75;
                border-left: 1px solid $col_bg_base;
                border-right: 1px solid $col_bg_base;
                background: $col_bg_detail;

                .text {
                    overflow: hidden;
                }

                &.in {
                    -webkit-animation: moveFromTopFade .7s ease both;
                    -moz-animation: moveFromTopFade .7s ease both;
                    animation: moveFromTopFade .7s ease both;
                }
                &.out {
                    -webkit-animation: moveToTopFade .7s ease both;
                    -moz-animation: moveToTopFade .7s ease both;
                    animation: moveToTopFade .7s ease both;
                }
                &.hidden {
                    display: none;
                }
    
                .arrow {
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    margin-left: -2px;
                    width: 0px;
                    height: 0px;
                    border-style: solid;
                    border-width: 0 5px 5px 5px;
                    border-color: transparent transparent $col_grey3 transparent;
                    transition: all 0.7s ease;
                }
            }
        }
        
        &.new {
            -webkit-animation: fadeIn 1s ease-out;
            -moz-animation: fadeIn .1s ease-out;
            animation: fadeIn .1s ease-out;
            opacity: 1;
        }
        &.in.next {
            -webkit-animation: fadeIn .4s ease-out;
            -moz-animation: fadeIn .4s ease-out;
            animation: fadeIn .4s ease-out;
            opacity: 1;
        }
        &.out.next {
            -webkit-animation: moveToBottomFadeMonth .4s ease-out;
            -moz-animation: moveToBottomFadeMonth .4s ease-out;
            animation: moveToBottomFadeMonth .4s ease-out;
            opacity: 1;
        }
        &.in.prev {
            -webkit-animation: moveFromBottomFadeMonth .4s ease-out;
            -moz-animation: moveFromBottomFadeMonth .4s ease-out;
            animation: moveFromBottomFadeMonth .4s ease-out;
            opacity: 1;
        }
        &.out.prev {
            -webkit-animation: fadeOut .4s ease-in;
            -moz-animation: fadeOut .4s ease-in;
            animation: fadeOut .4s ease-in;
            opacity: 1;
        }
    }

    .blue { background: rgba(156, 202, 235, 1); }
    .orange { background: rgba(247, 167, 0, 1); }
    .green { background: rgba(153, 198, 109, 1); }
    .yellow { background: rgba(249, 233, 0, 1); }

    .events {
        height: 75px;
        padding: 7px 0;
        overflow-y: auto;
        overflow-x: hidden;

        &.in {
            -webkit-animation: fadeIn .3s ease both;
            -moz-animation: fadeIn .3s ease both;
            animation: fadeIn .3s ease both;
            -webkit-animation-delay: .3s;
            -moz-animation-delay: .3s;
            animation-delay: .3s;
        }
        &.out {
            -webkit-animation: fadeOut .3s ease both;
            -moz-animation: fadeOut .3s ease both;
            animation: fadeOut .3s ease both;
        }
    }

    .event {
        font-size: 16px;
        line-height: 22px;
        letter-spacing: .5px;
        padding: 2px 16px;
        vertical-align: top;
        &.empty {
            color: #eee;
        }
        span {
            display: inline-block;
            padding: 0 0 0 7px;
        }
    
    }

    .event-category {
        height: 10px;
        width: 10px;
        display: inline-block;
        margin: 6px 0 0;
        vertical-align: top;
    }

    .legend {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        background: rgba(60, 60, 60, 1);
        line-height: 30px;

    }

    .entry {
        position: relative;
        padding: 0 0 0 25px;
        font-size: 13px;
        display: inline-block;
        line-height: 30px;
        background: transparent;
        &:after {
            position: absolute;
            content: '';
            height: 5px;
            width: 5px;
            top: 12px;
            left: 14px;
        }
        &.blue:after { background: rgba(156, 202, 235, 1); }
        &.orange:after { background: rgba(247, 167, 0, 1); }
        &.green:after { background: rgba(153, 198, 109, 1); }
        &.yellow:after { background: rgba(249, 233, 0, 1); }
    
    }

    /* Animations are cool!  */
    @-webkit-keyframes moveFromTopFade {
        from { opacity: 0; height: 0; -webkit-transform: translateY(-50%) scaleY(20%); }
    }
    @-moz-keyframes moveFromTopFade {
        from { opacity: 0; height: 0; -moz-transform: translateY(-50%) scaleY(20%); }
    }
    @keyframes moveFromTopFade {
        from { opacity: 0; height: 0; transform: translateY(-50%) scaleY(20%); }
    }

    @-webkit-keyframes moveToTopFade {
        to { opacity: 0; height: 0; -webkit-transform: translateY(-50%) scaleY(20%); }
    }
    @-moz-keyframes moveToTopFade {
        to { opacity: 0; height: 0; -moz-transform: translateY(-50%) scaleY(20%); }
    }
    @keyframes moveToTopFade {
        to { opacity: 0; height: 0; transform: translateY(-50%) scaleY(20%); }
    }

    @-webkit-keyframes moveToTopFadeMonth {
        to { opacity: 0; -webkit-transform: translateY(-30%) scale(.95); }
    }
    @-moz-keyframes moveToTopFadeMonth {
        to { opacity: 0; -moz-transform: translateY(-30%); }
    }
    @keyframes moveToTopFadeMonth {
        to { opacity: 0; transform: translateY(-30%); }
    }

    @-webkit-keyframes moveFromTopFadeMonth {
        from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromTopFadeMonth {
        from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromTopFadeMonth {
        from { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes moveToBottomFadeMonth {
        to { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveToBottomFadeMonth {
        to { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveToBottomFadeMonth {
        to { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes moveFromBottomFadeMonth {
        from { opacity: 0; -webkit-transform: translateY(30%) scale(.95); }
    }
    @-moz-keyframes moveFromBottomFadeMonth {
        from { opacity: 0; -moz-transform: translateY(30%); }
    }
    @keyframes moveFromBottomFadeMonth {
        from { opacity: 0; transform: translateY(30%); }
    }

    @-webkit-keyframes fadeIn  {
        from { opacity: 0; }
    }
    @-moz-keyframes fadeIn  {
        from { opacity: 0; }
    }
    @keyframes fadeIn  {
        from { opacity: 0; }
    }

    @-webkit-keyframes fadeOut  {
        to { opacity: 0; }
    }
    @-moz-keyframes fadeOut  {
        to { opacity: 0; }
    }
    @keyframes fadeOut  {
        to { opacity: 0; }
    }

    @-webkit-keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0; }
    }
    @-moz-keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0; }
    }
    @keyframes fadeOutShink  {
        to { opacity: 0; padding: 0px; height: 0; }
    }

    
    @-webkit-keyframes fadeInShink  {
        from { opacity: 0; padding: 0px; max-height: 0; }
    }
    @-moz-keyframes fadeInShink  {
        from { opacity: 0; padding: 0px; max-height: 0; }
    }
    @keyframes fadeInShink  {
        from { opacity: 0; padding: 0px; max-height: 0; }
    }
}
