
<div id="calendar">
    <!-- Header of Calendar -->
    <div class="header">
        <div class="header-year">
            <div class="year"> Year </div>
            <div class="right" onclick="nextYear()"></div>
            <div class="left" onclick="prevYear()"></div>
        </div>
        <div class="header-month">
            <div class="month"> Month </div>
            <div class="right" onclick="nextMonth()"></div>
            <div class="left" onclick="prevMonth()"></div>
        </div>
        <div class="week-titles">
            <div class="week-title"> SUN </div>
            <div class="week-title"> MON </div>
            <div class="week-title"> TUE </div>
            <div class="week-title"> WED </div>
            <div class="week-title"> THU </div>
            <div class="week-title"> FRI </div>
            <div class="week-title"> SAT </div>
        </div>
    </div>
    <!-- Main grid of Calendar -->
    <div class="mon-list new"></div>
    
</div>