
<!-- Legend -->
<div id="legend">
    <div class="main">
        <div class="overview">
            <div class="left">
                <div class="year"></div>
                <div class="month"></div>
            </div>
            <div class="right">
                <div class="date"></div>
                <div class="day"></div>
            </div>
        </div>

        <div class="detail">
            <div class="detail-chinese selected">
                <div class="top">
                    <div class="year-chinese"></div>
                    <div class="month-chinese"></div>
                    <div class="day-chinese"></div>
                    <div class="year-ganzhi ganzhi">
                        <span class="gan"></span>
                        <span class="zhi"></span>
                    </div>
                    <div class="month-ganzhi ganzhi">
                        <span class="gan"></span>
                        <span class="zhi"></span>
                    </div>
                    <div class="day-ganzhi ganzhi">
                        <span class="gan"></span>
                        <span class="zhi"></span>
                    </div>
                </div>
                <div class="lower">
                    <ul class="list">
                        <li> <span class="list-head">生肖</span> <span class="list-value shengxiao"></span></li>
                        <li> <span class="list-head">星座</span> <span class="list-value xingzuo"></span></li>
                        <li> <span class="list-head">星宿</span> <span class="list-value xingxiu"></span></li>
                        <li> <span class="list-head">煞</span> <span class="list-value sha"></span></li>
                    </ul>
                </div>
            </div>
            
            <div class="detail-test hidden">
            </div>
        </div>
    </div>
    
    <div class="bottom">
        <div class="yang"></div>
        <div class="clock"></div>
        <div class="nong"></div>
    </div>
</div>