<!DOCTYPE html>

<html ng-app="calendar" ng-controller="AppCtrl" lang="en">

    <head>

        <title> Calendar </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="images/favicon.ico" />
        <link rel="stylesheet" href="stylesheets/style.css" />        
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js" defer>
            moment().format();
        </script>
        <script src="javascripts/common.js" defer></script>
        <script src="javascripts/bazi.js" defer></script>
        <script src="javascripts/lunar.js" defer></script>
        <script src="javascripts/calendar.js" defer></script>
        <script src="javascripts/legend.js" defer></script>
    </head>

    <body>
        <%- include('components/calendar.ejs'); %>

        <div id="bazi">
        </div>
        
        <%- include('components/legend.ejs'); %>

    </body>

</html>