// Font
$col_base-font: rgba(255, 255, 255, 1);

$col_grey1: rgba(255, 255, 255, 0.9);
$col_grey2: rgba(255, 255, 255, 0.8);
$col_grey3: rgba(255, 255, 255, 0.7);
$col_grey4: rgba(255, 255, 255, 0.6);
$col_grey5: rgba(255, 255, 255, 0.5);
$col_grey6: rgba(255, 255, 255, 0.4);
$col_grey7: rgba(255, 255, 255, 0.3);
$col_grey8: rgba(255, 255, 255, 0.2);
$col_grey9: rgba(255, 255, 255, 0.1);
$col_dark: rgba(0, 0, 0, 0.1);
// BG

$col_bg_base: rgb(50, 50, 50);
$col_bg_base1: rgb(25, 25, 25);
$col_bg_base2: rgb(75, 75, 75);

$col_bg_chosenmonth: rgb(25, 25, 25);
$col_bg_chosenmonth_hover: rgb(25, 25, 25);
$col_bg_detail:rgb(164, 164, 164);