// Font
$col_base-font: rgba(255, 255, 255, 1);

$col_grey1: rgb(255, 255, 255, 0.9);
$col_grey2: rgb(255, 255, 255, 0.8);
$col_grey3: rgb(255, 255, 255, 0.7);
$col_grey4: rgb(255, 255, 255, 0.6);
$col_grey5: rgb(255, 255, 255, 0.5);
$col_grey6: rgb(255, 255, 255, 0.4);
$col_grey7: rgb(255, 255, 255, 0.3);
$col_grey8: rgb(255, 255, 255, 0.2);
$col_grey9: rgb(255, 255, 255, 0.1);

// BG

$col_bg_base: rgba(50, 50, 50, 1);

$col_bg_chosenmonth: rgb(25, 25, 25);
$col_bg_detail:rgba(164, 164, 164);